.dashboard-container {
    padding: 1rem;
    background-repeat: no-repeat;
    background-position: center top 50px;
    background-attachment: fixed;
    background-size: cover;
    font-family: Questrial;
    min-height: 100vh;
}

/* Adjust top padding for smaller screens */
@media screen and (max-width: 768px) {
    .dashboard-container {
        padding-top: 4rem;
    }
}

/* Display two cards per row on small screens */
.simple-grid {
    grid-template-columns: repeat(2, 1fr);
}

/* Display four cards per row on larger screens */
@media screen and (min-width: 768px) {
    .simple-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    margin: 1rem;
}