.dashboard-container {
    padding: 2rem 0;
    /* Adjust top and bottom padding */
    background-repeat: no-repeat;
    background-position: center top 50px;
    /* Move background down 50 pixels */
    background-attachment: fixed;
    background-size: cover;
    font-family: Questrial;
    min-height: 100vh;
    overflow-x: auto;
    /* Enable horizontal scrolling */
}

.dashboard-container .ecopacking-button .fa-leaf {
    color: #34D399;
    /* Green 700 */
}

.dashboard-container .ecopacking-button .fa-suitcase {
    color: #F87171;
    /* Orange 900 */
}


@media screen and (max-width: 768px) {
    .dashboard-container {
        padding-top: 4rem;
        /* Adjust top padding for smaller screens */
    }
}

.horizontal-scroll {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding: 1rem 0;
    /* Add some space around the scrollable content */
}

.horizontal-scroll>* {
    scroll-snap-align: start;
}

.simple-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Display two cards per row on small screens */
    gap: 1rem;
    /* Add some space between the cards */
}

@media screen and (min-width: 768px) {
    .simple-grid {
        grid-template-columns: repeat(4, 1fr);
        /* Display four cards per row on larger screens */
    }
}

.card {
    margin: 1rem;
}

.questrial-font {
    font-family: Questrial;
}